@model IEnumerable<StudentFile>

@{
    ViewData["Title"] = "Файлы";
}

<h1>Файлы</h1>

<p>
    <a asp-action="Upload">Загрузить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Год
            </th>
            <th>
                Университет
            </th>
            <th>
                Флаг студента
            </th>
            <th>
                Факультет
            </th>
            <th>
                Форма
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.University)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Form)
            </td>
            <td>
                @Html.ActionLink("Открыть", "File", item)
            </td>
        </tr>
}
    </tbody>
</table>
